body {
    background-color: #ffffff;
    font-family: Times, Times New Roman, serif;
    margin: 40px;
}

h1 {
    color: black;
    font-size: 64px;
    text-align: center;
}

p {
    color: #333;
    font-size: 18px;
    text-align:center;
}
